.nav {
    grid-area: n;
    background-color: dimgrey;
}

.item {
    color: white;
    padding-left: 15px;
    font-size: 1.4rem;
}
.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: aqua;
}
