.dialogsPage {
    display: grid;
    grid-template-areas: 'a b';
    grid-auto-columns: 2fr 10fr;
}

.name {
}
.name img {
    width: 50px;
    margin-top: 10px;
    margin-right: 7px;
}

.names {
    grid-area: a;
    padding: 10px;
}

.names .active {
    color: darkgreen;
}

.messages {
    grid-area: b;
    padding: 10px;
}

.message {

}
